include ../head.pug
body
    .container.mt-5
      h1.text-center Upcoming games
      table.table.table-responsive.table-hover.table-bright.text-black 
        thead
          tr
            th(scope="col") ID
            th(scope="col") Match Name
            th(scope="col") Match DateTime
            th(scope="col") Stadium
            th(scope="col") Contact Phone
            th(scope="col") Additional Info
            th(scope="col") Actions
        tbody
script. 
    document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/match').then(function(response) {
                const matches = response.data;
                const tableBody = document.querySelector('table tbody');
                matches.forEach(m => {
                    const row = document.createElement('tr');
                    const match = m.match
                    row.innerHTML = `
                        <td>${m.id}</td>
                        <td>${match.matchName}</td>
                        <td>${match.matchDateTime}</td>
                        <td>${match.stadium}</td>
                        <td>${match.contactPhone}</td>
                        <td>${match.additionalInfo}</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(function(error) {
                console.log(error);
            });
    });
